base-lib/src/main/jaxb/GenticsObjectModule.viewsPrime.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings generateIsSetMethod="true">
				<jaxb:javaType name="java.lang.Integer" xmlType="xs:integer" parseMethod="valueOf" printMethod="toString"/>
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation>
	<!-- main node (views) -->
	<xs:element name="views">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="view" type="view" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="defaultview" type="xs:token" use="optional">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="defaultView"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- type for a specific view -->
	<xs:complexType name="view">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="viewNodes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="settings"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:group>
			<xs:group ref="AnyComponent" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="children"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:group>
			<xs:element name="defaultbuttons" minOccurs="0" maxOccurs="1">
				<!-- @deprecated buttons shall all be defined with buttoncomponents -->
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="defaultButtonContainer"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="button" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property name="buttons"/>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:all>
									<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
									<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
									<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
									<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<jaxb:property name="actionContainer"/>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:all>
								<xs:attribute use="required" type="defaultbuttonid" name="id"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="xs:token" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="viewClass"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:token" use="optional"/>
		<xs:attribute name="label" type="xs:string" use="optional"/>
		<xs:attribute name="doubleclickprotection" type="xs:boolean" use="optional"/>
	</xs:complexType>

	<!-- type of the id of a default button -->
	<xs:simpleType name="defaultbuttonid">
	  <!-- @deprecated editing shall be implemented using buttoncomponents and pluggable actions -->
	  <xs:restriction base="xs:token">
		<xs:enumeration value="ok"/>
		<xs:enumeration value="edit"/>
		<xs:enumeration value="delete"/>
		<xs:enumeration value="cancel"/>
		<xs:enumeration value="search"/>
	  </xs:restriction>
	</xs:simpleType>

	<!-- type for a list component -->
	<xs:complexType name="ListComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="content" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="AnyComponent">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="children"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:group>
				</xs:complexType>
			</xs:element>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="errortext" type="xs:string" minOccurs="0" maxOccurs="1">
				<!-- @deprecated undocumented and never used anywere -->
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="errorText"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<!-- TODO add all general component attributes -->
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a tab component -->
	<xs:complexType name="TabComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="content">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tab" type="Tab" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="activetab" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="activeTab"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<!-- TODO add all general component attributes -->
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a tab component -->
	<xs:complexType name="Tab">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="content">
				<xs:complexType>
					<xs:group ref="AnyComponent">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="children"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:group>
				</xs:complexType>
			</xs:element>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute use="required" name="id" type="xs:token"/>
	</xs:complexType>
	<!-- type for a text component -->
	<xs:complexType name="TextComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="syntax" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="syntax-description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="length" type="xs:integer" minOccurs="0" maxOccurs="1">
				<!-- @deprecated add minlength and maxlength as addition to syntax -->
			</xs:element>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unique" type="PBoolean" minOccurs="0" maxOccurs="1">
				<!-- @deprecated must be implemented with pluggable action -->
			</xs:element>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a numbercomponent -->
	<xs:complexType name="NumberComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="min" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="max" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" type="NumberComponentType" minOccurs="0" maxOccurs="1" default="double"/>
			<xs:element name="fractiondigits" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="fractionDigits"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="failifmore" type="xs:boolean" use="optional" default="false">
								<xs:annotation>
									<xs:appinfo>
										<jaxb:property name="failIfMore"/>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a information component -->
	<xs:complexType name="InformationComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reference" type="xs:token" minOccurs="1" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a file upload component -->
	<xs:complexType name="FileUploadComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contenttypeattribute" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="contentTypeAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="filesizeattribute" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="fileSizeAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="uploaddateattribute" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uploadDateAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="filenameattribute" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="fileNameAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keepcontent" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="keepContent"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="downloadactions" type="Actions" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="downloadActionContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a password component -->
	<xs:complexType name="PasswordComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="labelverify" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="labelVerify"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="syntax" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="syntax-description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="length" type="xs:integer" minOccurs="0" maxOccurs="1">
				<!-- @deprecated add minlength and maxlength as addition to syntax -->
			</xs:element>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="encrypted" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a textarea component -->
	<xs:complexType name="TextAreaComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="syntax" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="syntax-description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rows" type="xs:integer" minOccurs="0" maxOccurs="1">
				<!-- @deprecated should be properties -->
			</xs:element>
			<xs:element name="cols" type="xs:integer" minOccurs="0" maxOccurs="1">
				<!-- @deprecated should be properties -->
			</xs:element>
			<!-- add minlength and maxlength as addition to syntax -->
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a date component -->
	<xs:complexType name="DateComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mindate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maxdate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateformatterid" type="xs:token" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateformat" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="format-description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type for a button component -->
	<xs:complexType name="ButtonComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="errorcheck" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="component" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="errortext" type="xs:string" minOccurs="0" maxOccurs="1">
				<!-- @deprecated (will be replaced by errorcheck/onfailure) -->
			</xs:element>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" type="xs:token" minOccurs="0" maxOccurs="1">
				<!-- @deprecated since unused -->
			</xs:element>
			<xs:element name="link" type="Link" minOccurs="0" maxOccurs="1">
				<!-- @deprecated replaced by actions -->
			</xs:element>
			<xs:element name="links" type="LinkList" minOccurs="0" maxOccurs="1">
				<!-- @deprecated replaced by actions -->
			</xs:element>
			<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="actionContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for an DatasourceListComponent -->
	<xs:complexType name="DatasourceListComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:group ref="DatasourceListComponentSettings">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="settings"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:group>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<xs:group name="DatasourceListComponentSettings">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class name="JAXBDSListCompSettings"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="columns" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sortby" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="sortBy"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sortorder" type="sortordertype" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="sortOrder"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sortable" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="filterrule" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="filterRule"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rule" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="filterlabel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="filterLabel"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="paging" type="ComponentPaging" minOccurs="0" maxOccurs="1"/>
			<xs:element name="datasource" type="xs:token" minOccurs="0" maxOccurs="1"/>
			<xs:element name="advancedsearch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="advancedSearch"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="link" type="Link" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
				<!-- @deprecated use buttoncomponent and pluggable actions -->
			</xs:element>
			<xs:element name="quicksearch" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="quickSearch"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="filterlabel" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property name="filterLabel"/>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="idattribute" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="idAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="stickyselection" type="PBoolean" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:group>

	<!-- type for a VersionInformationComponent -->
	<xs:complexType name="VersionInformationComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for an VersioningComponent -->
	<xs:complexType name="VersioningComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="currentversionlabel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="currentVersionLabel"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="versiondatelabel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="versionDateLabel"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createversionlabel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="createVersionLabel"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<!-- new permission settings -->
			<xs:element name="viewpastobjects" type="PBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="viewPastObjects"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="viewfutureobjects" type="PBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="viewFutureObjects"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="editpastobjects" type="PBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="editPastObjects"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="editfutureobjects" type="PBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="editFutureObjects"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="viewpastrule" type="xs:string" minOccurs="0" maxOccurs="1">
				<!-- @deprecated -->
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="viewPastRule"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="viewfuturerule" type="xs:string" minOccurs="0" maxOccurs="1">
				<!-- @deprecated -->
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="viewFutureRule"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="editpastrule" type="xs:string" minOccurs="0" maxOccurs="1">
				<!-- @deprecated -->
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="editPastRule"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="editfuturerule" type="xs:string" minOccurs="0" maxOccurs="1">
				<!-- @deprecated -->
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="editFutureRule"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<!-- undocumented option "compatibilityMode" -->
			<xs:element name="compatibilitymode" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="compatibilityMode"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<xs:complexType name="FeedbackComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for values in element visibility of NestedFormComponent -->
	<xs:simpleType name="visibilitytype">
	  <xs:restriction base="xs:token">
		<xs:enumeration value="always"/>
		<xs:enumeration value="ondemand"/>
		<xs:enumeration value="custom"/>
	  </xs:restriction>
	</xs:simpleType>

	<!-- type for values in element type of NumberComponent -->
	<xs:simpleType name="NumberComponentType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="double"/>
			<xs:enumeration value="integer"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- type for values in element sortorder -->
	<xs:simpleType name="sortordertype">
		<xs:restriction base="xs:token">
			<xs:enumeration value="asc"/>
			<xs:enumeration value="desc"/>
			<xs:enumeration value="ASC"/>
			<xs:enumeration value="DESC"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="NestedFormComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="content" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="AnyComponent">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="children"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:group>
				</xs:complexType>
			</xs:element>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="exclusive" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visibility" type="visibilitytype" minOccurs="0" maxOccurs="1"/>
			<xs:element name="openbuttonlabel" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="closebuttonlabel" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="closeon" type="xs:NMTOKENS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for a DatasourceTreeComponent -->
	<xs:complexType name="DatasourceTreeComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="datasource" type="xs:token" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rootrule" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="noderule" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="disableflapping" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="relations" type="DatasourceTreeComponentRelations" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="relationsContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nodeactions" type="DatasourceTreeNodeActions" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="nodeActionsContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sortby" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="sortBy"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sortorder" type="sortordertype" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="sortOrder"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="paging" type="ComponentPaging" minOccurs="0" maxOccurs="1"/>
			<xs:element name="idattribute" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="idAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hideclosednodes" type="PBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="hideCloseNodes"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxlevel" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="maxLevel"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="prefillattributes" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for relations of a datasourcetreecomponent -->
	<xs:complexType name="DatasourceTreeComponentRelations">
		<xs:sequence>
			<xs:element name="relation" type="DatasourceTreeComponentRelation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property collectionType="indexed" name="relations"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- type for a datasourcetreecomponent relation -->
	<xs:complexType name="DatasourceTreeComponentRelation">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="rule" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute use="optional" name="motherobjecttype" type="xs:token">
			<!-- @deprecated replace by element rule -->
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="motherObjectType"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="attribute" type="xs:token"/>
		<xs:attribute use="optional" name="sortby" type="xs:token"/>
		<xs:attribute use="optional" name="sortorder" type="sortordertype"/>
		<xs:attribute use="optional" name="reverseattribute" type="xs:token">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="reverseAttribute"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!-- type for nodeactions of a datasourcetreecomponent -->
	<xs:complexType name="DatasourceTreeNodeActions">
		<xs:sequence>
			<xs:element name="nodeaction" type="DatasourceTreeNodeAction" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property collectionType="indexed" name="nodeActions"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="defaultaction" use="optional" type="xs:token">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="defaultAction"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!-- type for a nodeaction -->
	<xs:complexType name="DatasourceTreeNodeAction">
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="actionContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute use="required" name="id" type="xs:token"/>
	</xs:complexType>

	<!-- type definition for a column -->
	<xs:complexType name="Column">
		<xs:all>
			<xs:element name="property" type="xs:token" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sortable" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="foreignproperty" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="foreignProperty"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="link" type="Link" minOccurs="0" maxOccurs="1">
				<!-- @deprecated use actions -->
			</xs:element>
			<xs:element name="links" type="LinkList" minOccurs="0" maxOccurs="1">
				<!-- @deprecated use actions -->
			</xs:element>
			<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="actionContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="id" type="xs:token" use="required"/>
	</xs:complexType>

	<!-- type definition for paging for all components -->
	<xs:complexType name="ComponentPaging">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="size" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="current" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="customsizes" type="xs:NMTOKENS" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<!-- type definition for a list of links -->
	<xs:complexType name="LinkList">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="links"/>
				</xs:appinfo>
			</xs:annotation>
			<xs:element name="link" type="Link" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!-- type definition for a link -->
	<xs:complexType name="Link">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="linkrule" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="linkRule"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="viewid" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="viewId"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sets" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="set" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
									<xs:element name="filterrule" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<jaxb:property name="filterRule"/>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="filterlabel" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<jaxb:property name="filterLabel"/>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="activetab" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<jaxb:property name="activeTab"/>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:all>
								<xs:attribute type="xs:string" use="optional" name="component"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="action" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>


	<!-- type definition for SelectComponent -->
	<xs:complexType name="SelectComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="size" type="xs:integer" minOccurs="0" maxOccurs="1">
				<!-- @deprecated should be a property -->
			</xs:element>
			<xs:element name="multiple" type="PBoolean" minOccurs="0" maxOccurs="1">
				<!-- @deprecated should be multivalue -->
			</xs:element>
			<xs:element name="multivalue" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optionsproperty" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="optionsProperty"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:token">
							<xs:attribute name="type" type="optionspropertytype" use="optional"/>
							<xs:attribute name="sortorder" type="sortordertype" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="options" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="optionContainer"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="option" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property collectionType="indexed" name="options"/>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="id" type="xs:token" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="nameattribute" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="valueattribute" minOccurs="0" maxOccurs="1" type="xs:string"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	<!-- type definition for DatasourceSelectComponent -->
	<xs:complexType name="DatasourceSelectComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="rule" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="nameattribute" type="xs:token" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="nameAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="valueattribute" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="valueAttribute"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="datasource" type="xs:token" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sortby" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="sortBy"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sortorder" type="sortordertype" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="sortOrder"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multivalue" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for the LabelComponent -->
	<xs:complexType name="LabelComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>


	<!-- type for the checkboxcomponent -->
	<xs:complexType name="CheckboxComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="truevalue" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="falsevalue" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- type for the downloadcomponent -->
	<xs:complexType name="DownloadComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>
	
	<xs:complexType name="CaptchaComponent">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="visible" type="PBoolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attributeGroup ref="ComponentAttributes"/>
	</xs:complexType>

	<!-- attribute group for attributes shared by all components -->
	<xs:attributeGroup name="ComponentAttributes">
		<xs:attribute name="id" type="xs:token" use="optional"/>
		<xs:attribute name="class" type="xs:token" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="componentClass"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!-- group for any components -->
	<xs:group name="AnyComponent">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="textcomponent" type="TextComponent"/>
				<xs:element name="fileuploadcomponent" type="FileUploadComponent"/>
				<xs:element name="passwordcomponent" type="PasswordComponent"/>
				<xs:element name="textareacomponent" type="TextAreaComponent"/>
				<xs:element name="listcomponent" type="ListComponent"/>
				<xs:element name="datecomponent" type="DateComponent"/>
				<xs:element name="datasourcelistcomponent" type="DatasourceListComponent"/>
				<xs:element name="datasourceselectcomponent" type="DatasourceSelectComponent"/>
				<xs:element name="buttoncomponent" type="ButtonComponent"/>
				<xs:element name="tabcomponent" type="TabComponent"/>
				<xs:element name="informationcomponent" type="InformationComponent"/>
				<xs:element name="versioningcomponent" type="VersioningComponent"/>
				<xs:element name="feedbackcomponent" type="FeedbackComponent"/>
				<xs:element name="nestedformcomponent" type="NestedFormComponent"/>
				<xs:element name="datasourcetreecomponent" type="DatasourceTreeComponent"/>
				<xs:element name="checkboxcomponent" type="CheckboxComponent"/>
				<xs:element name="selectcomponent" type="SelectComponent"/>
				<xs:element name="labelcomponent" type="LabelComponent"/>
				<xs:element name="downloadcomponent" type="DownloadComponent"/>
				<xs:element name="versioninformationcomponent" type="VersionInformationComponent"/>
				<xs:element name="numbercomponent" type="NumberComponent"/>
				<xs:element name="captchacomponent" type="CaptchaComponent"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>

	<!-- group for view specific nodes -->
	<xs:group name="viewNodes">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="vieweditrule" type="xs:string">
					<!-- @deprecated editing shall be implemented using buttoncomponents and pluggable actions -->
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="viewEditRule"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="viewaddrule" type="xs:string">
					<!-- @deprecated editing shall be implemented using buttoncomponents and pluggable actions -->
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="viewAddRule"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="viewreference" type="xs:string">
					<!-- @deprecated editing shall be implemented using buttoncomponents and pluggable actions -->
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="viewReference"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="viewfollower" type="xs:string">
					<!-- @deprecated editing shall be implemented using buttoncomponents and pluggable actions -->
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="viewFollower"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="onload">
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="onLoad"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:appinfo>
										<jaxb:property name="actionContainer"/>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="onview">
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="onView"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:appinfo>
										<jaxb:property name="actionContainer"/>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="properties" type="ComponentPropertiesType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="callableactions" type="CallableActions" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>

	<!-- xs:group name="ComponentElements">
		<xs:all>
			<xs:element name="enabled" type="PBoolean" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="optional" type="PBoolean" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="errortext" type="xs:string" minOccurs="0" 
				maxOccurs="1"/>
		</xs:all>
	</xs:group -->
	<!-- PBoolean may contain pobject, prule, strings -->
	<xs:complexType name="PBoolean" mixed="true">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="prule" type="xs:string"/>
			<xs:element name="pcondition" type="xs:string"/>
			<xs:element name="pobject" type="xs:string"/>
		</xs:choice>
	</xs:complexType>

	<!-- actions element (sequence of action definitions) -->
	<xs:complexType name="Actions">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="action" type="Action" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="actionCollection"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- type for values in element type of an actionparameter -->
	<xs:simpleType name="parametercontenttype">
	  <xs:restriction base="xs:token">
		<xs:enumeration value="static"/>
		<xs:enumeration value="rule"/>
	  </xs:restriction>
	</xs:simpleType>

	<!-- type for value of attribute "type" in element "optionsproperty" of "selectcomponent" -->
	<xs:simpleType name="optionspropertytype">
	  <xs:restriction base="xs:token">
		<xs:enumeration value="keyfirst"/>
		<xs:enumeration value="valuefirst"/>
	  </xs:restriction>
	</xs:simpleType>

	<!-- type for ActionParameters -->
	<xs:complexType name="ActionParameters">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parameter" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:token" use="required"/>
							<xs:attribute name="mapped" type="xs:string" use="optional"/>
							<xs:attribute name="required" type="xs:boolean" use="optional"/>
							<xs:attribute name="type" type="parametercontenttype" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<!-- xs:unique name="parameterId">
			<xs:selector xpath="parameter"/>
			<xs:field    xpath="@id"/>
		</xs:unique -->
	</xs:complexType>

    <!-- action element to define a pluggable action -->
	<xs:complexType name="Action">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="parameters" type="ActionParameters" minOccurs="0" maxOccurs="1"/>
			<xs:element name="prule" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="onsuccess" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property name="actionContainer"/>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:all>
					<xs:attribute name="message" use="optional" type="xs:string"/>
					<xs:attribute name="proceedsequence" use="optional" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="proceedSequence"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="onfailure" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property name="actionContainer"/>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:all>
					<xs:attribute name="message" use="optional" type="xs:string"/>
					<xs:attribute name="proceedsequence" use="optional" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="proceedSequence"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute use="required" name="class" type="xs:token">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="className"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="id" type="xs:token"/>
		<xs:attribute use="optional" name="feedback" type="xs:token"/>
		<xs:attribute use="optional" name="rule" type="xs:token"/>
	</xs:complexType>

	<!-- callableactions element (sequence of action definitions) -->
	<xs:complexType name="CallableActions">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="callableaction" type="CallableAction" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="actionCollection"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--  type for callable action -->
	<xs:complexType name="CallableAction">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class/>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="actions" type="Actions" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="actionContainer"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:token" use="required"/>
	</xs:complexType>
	

	<!-- type for component (and view) properties -->
	<xs:complexType name="ComponentPropertiesType">
		<xs:sequence>
			<xs:element name="property" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property collectionType="indexed" name="propertyList"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:token" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>